@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700|Raleway:500,800&display=swap');

html {
    --background: #fff;
    --on-background: #000;
}

/* Mobile-First Css */ 


/* --------Header--------- */


.topbar {
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "logo menu";
    grid-column-gap: 2em;
}

.logo {
    grid-area: logo;
    font: 1em 'Raleway', sans-serif;
    font-weight: 800;
    margin: 12px;
}

.topbar div {
    grid-area: menu;
    justify-self: center; 
    align-self: center;    
}

.site-menu ul li{
    place-content: end;
    visibility: hidden;
    max-width: 0px;
    height: 0px;
    }
    

nav ul li {
    place-content: end;
    visibility: hidden;
    max-width: 0px;
    height: 0px;
} 

.content a {
    line-height: 3;
    padding: 0 1em;
    display: block;
}

/* -------Content--------*/ 

.waterfront-shot img {
    width: 100%;
    /* height: auto; */
}

.program { 
    font: 1.5em 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
}

.sub-heading1 { 
    font: 1em 'Lato', sans-serif;
    font-weight: 700;
    padding: 1em;
    text-align: center;
}

.sub-heading2 { 
    font: 1em 'Lato', sans-serif;
    font-weight: 700;
    padding: 1em;
    text-align: center;

   
}

.overview {  
    font-weight: 300i;
    padding: 2em;
    text-align: justify;
} 

.skills { 
    padding: 2em;
    text-align: justify;
}



.sub-heading3 { 
    font: 1em 'Lato', sans-serif;
    font-weight: 700;
    padding: 1em;
    text-align: center;
}

.apps-img img {
    width: 40%;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 6em;
}

/* --------Footer-------- */

.footer { 
    background: #303036;
    font: 1em 'Lato', sans-serif;
    font-weight: 300;
}

.footer ul li a {
    color: white;
    font-size: 0.75em;
    text-decoration: none;
}

.socialmedia { 
    text-align: inherit;
    padding: 1em;
}

.socialmedia { 
    text-align: inherit;
    padding: 0.5em;
}

.socialmedia ul { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0 auto;
}

.copyright { 
    justify-self: end;
    padding: 0.5em;
    text-align: right;
}

/* Desktop CSS */ 

@media only screen and (min-width: 840px)

{ 

/* ------Header------- */

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo menu";
    grid-column-gap: 2em;
}

.logo {
    font-size: 2em;
    padding: 10px;   
}

.icon {
    visibility: hidden;
}

nav ul li {
    grid-area: menu; 
    visibility: visible;
}

.site-menu a {
    color: #fff;
    text-decoration: none;
    grid-gap: 1em;
}

nav ul li {
    place-content: end;
    max-width: 0px;
    height: 0px;
}

.site-menu a {
    color: #fff;
    text-decoration: none;
    grid-gap: 1em;
}

/* ------Content-----*/ 

.sub-heading2 { 
    font: 1em 'Lato', sans-serif;
    font-weight: 700;
    padding: 1em;
    text-align: center;
    visibility: visible;

}

.apps-img {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: auto;
}

.software { 
    font-weight: bold;
}

.impt-info { 
    font-style: italic;
}
}
